<%- include('../partials/header') %>

<section id="show-page">
<table>
  <thead>
    <tr>
      <th>Airline: </th>
      <th>Airport: </th>
      <th>FlightNo:  </th>
      <th>Departs: </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.departs%></td>
      </tr>
  </tbody>


</table>

</section>
<br>
<h2> Add a New Flight Destination</h2>
<form action="/flights/<%= flight._id%>/arrivals" method="POST">
    <label >Destination Airport:
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN" selected>DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
          </select>
    </label><br>

    <label>Destination Arrival Time:
        <input name="arrivals" type="datetime-local" value="">
    </label><br>
    <button type="submit">Add Flight Destination</button>


    <% if (flight.destinations.length) { %>
        <table>
          <thead>
            <tr>
              <th>Destination Airport</th>
              <th>Destination Date</th>
            </tr>
          </thead>
          <tbody>
            <% flight.destinations.forEach(function(f) { %>
              <tr>
                <!-- .toLocaleDateString() provides a more friendly date format -->
                <td><%= f.airport %></td>
                <td><%= f.arrivals%></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Destination Flights Yet</h5>
      <% } %>
    
    </form>
<br>
<br>
    <a id="add-tickets-to-flight" href="/flights/<%= flight._id %>/tickets/new">

      <button type="submit">Add New Ticket</button>
    </a>


    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
    <% tickets?.forEach(function(t) { %>
      <tr>
        <td><%= t.seat %></td>
        <td><%= t.price%></td>
      </tr>
    <% }) %>
  
  



    <%- include('../partials/footer') %>

